<!-- 
    
    Registrovani korisnik u mogućnosti je da ažurira svoje lične podatke na stranici
    za prikaz svog profila. Izmena email adrese nije moguća. Na svom profilu,
    korisnik može da vidi svoje poene kao i kategoriju korisnika kojoj pripada i
    pogodnosti koje ima (odnosi se na loyalty program). -->
    
    <div *ngIf="me">
<h1> Profil korisnika</h1>
<h3> {{me.firstName}} {{me.lastName}}</h3>

{{ me | json}}
<h3> Zakazeni pregledi</h3>
 <div *ngFor="let app of me.appointments"> 
    {{app | json}} <button (click)="cancel(app.id)"> cancel</button>     
</div> 
<div *ngIf="me.appointments.length == 0"> 
    Nema zakazanih pregleda
</div>
</div>