<!-- 
    
    Registrovani korisnik u mogućnosti je da ažurira svoje lične podatke na stranici
    za prikaz svog profila. Izmena email adrese nije moguća. Na svom profilu,
    korisnik može da vidi svoje poene kao i kategoriju korisnika kojoj pripada i
    pogodnosti koje ima (odnosi se na loyalty program). -->
<h1> Profil korisnika</h1>
<div clas="w-50">
    <div class="col-sm-8">
        Mejl<input class="form-control-plaintext" type="text" placeholder="Readonly input here…" readonly>
    </div>
    <div class="row g-3 ">
        <div class="col-sm-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Recipient's username"
                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">EDIT</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Recipient's username"
                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">EDIT</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Recipient's username"
                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">EDIT</button>
                </div>
            </div>
        </div>
    </div>
</div>
 <div *ngFor="let app of Appointments"> -->
    {{app | json}} <button (click)="cancel(app.id)"> cancel</button>
    

</div> 