<div *ngIf="donationCenter" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap>
  <h2>Dodavanje predefinisanih termina:</h2>
  <div>
    <form [formGroup]="addPredefiendTerm">

      <mat-form-field class="sm_field" appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" required>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>

      </mat-form-field>
      <mat-form-field class="sm_field">
        <mat-label>Vreme pocetak termina: </mat-label>
        <input matInput [ngxTimepicker]="startTime" [format]="24" placeholder="Formata hh-mm" formControlName="start" required>
        <ngx-material-timepicker #startTime></ngx-material-timepicker>

      </mat-form-field>
      <mat-form-field class="sm_field">
        <mat-label>Vreme zavrsetka termina: </mat-label>
        <input matInput [ngxTimepicker]="endTime" [format]="24" placeholder="Formata hh-mm" formControlName="end" required>
        <ngx-material-timepicker #endTime></ngx-material-timepicker>

      </mat-form-field>
      <button (click)="addTerm()" class="btn"> Dodaj novi predefinisan termin</button>
    </form>


    <!-- <app-appointment-list [donationCenter]="donationCenter" [userType]="'Admin'" (notifyParent)="updateView($event)"></app-appointment-list> -->

  </div>

</div>