<!-- <div style="width: 550px;"> -->
<app-create-appointment [donationCenter]="donationCenter" (notifyParent)="updateView($event)"
    *ngIf="userType!='User'"></app-create-appointment>

<mat-radio-group aria-label="Sort by" (change)="sort($event)" [(ngModel)]="sortCriteria">
    <mat-radio-button value="date_asc">Najraniji termin</mat-radio-button>
    <mat-radio-button value="date_dsc">Najkasniji termin</mat-radio-button>
    <mat-radio-button value="name_asc">Po imeni od A-Z</mat-radio-button>
    <mat-radio-button value="name_dsc">Po imenu od Z-A</mat-radio-button>
</mat-radio-group>
<div fxLayout="row wrap" fxLayoutAlign="start center">
    <div *ngFor="let item of appointments" fxLayoutGap>
        <!-- <button [disabled]="!isQuestionareFilled"> {{item.start}} - {{item.end}}</button> -->
        <!-- <mat-card fxFlex> 
                <mat-card-header [ngClass]="{'red' : sortCriteria==='name_asc', 'green':sortCriteria==='name_dsc'}">
                    {{item.type}}</mat-card-header>
                <mat-card-content [ngClass]="{'red' : sortCriteria==='date_asc' , 'green':sortCriteria==='date_dsc'}">
                    Vreme: {{item.start}} - {{item.end}}
                    Datum: {{item.date.getTime()}}
                </mat-card-content>
                <div *ngIf="userType=='Admin'">
                    <mat-card-actions>
                        <button>Izmeni</button>
                        <button>Obrisi</button>
                    </mat-card-actions>
                </div>
                <div *ngIf="userType=='User'">-->
        <mat-card-actions>
             <button (click)="reserveTerm($event, item)" [disabled]="!isQuestionareFilled"> {{item.date}} : {{item.start}} - {{item.end}}
            </button>
        </mat-card-actions>
        <!-- </div> -->
        <!-- </mat-card> -->
    </div>
    <p *ngIf="predefinedAppointments?.length==0"> Nema termina koji tebi odogvara? Predlozi termin:</p>
</div>
<!-- </div> -->