/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    
    background-image: url('assets/background.jpeg');
   
    background-size: cover;
}

.w-80 {
    width: 80%;
}

.m-5 {
    margin-left: 5%;
    margin-right: 5%;
}

.red{
    color:red
}
.green{
    color: green;
}
.passive{
    color: gray;
    font-size: small;
}