

<mat-tab-group class="w-100">
    <mat-tab label="Podaci o korisniku">
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <h2> Registracija </h2>
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="space-around center">
                <mat-form-field>
                    <input matInput placeholder="name" formControlName="firstname">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="surname" formControlName="lastname">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="address" formControlName="address">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="city" formControlName="city">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="country" formControlName="country">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="phone" formControlName="phone">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="email" formControlName="username">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="occupation" formControlName="occupation">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="password" formControlName="password">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="confirm password" formControlName="confirmPassword">
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Submit</button>
            </form>
           
        </div>
    </mat-tab>
</mat-tab-group>
